@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;

}

;

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.navbar .active {
    font-weight: 700;
    /* border-bottom: 2px solid #aed82f; padding-bottom: 4px; */
    background-color: #CAEB66;
    padding: 8px 18px;
    border-radius: 20px;
}